<div class="social-media-bar">
      <!-- Facebook Share -->
    <a href="https://www.facebook.com/sharer/sharer.php?u=https://finmannager.github.io/app/" target="_blank" class="social-icon facebook" aria-label="Compartilhar no Facebook">
        <i class="bi bi-facebook"></i>
    </a>
    <a href="https://instagram.com/sherif_beko" target="_blank" class="social-icon instagram" aria-label="Instagram">
        <i class="bi bi-instagram"></i>
    </a>
    <a href="https://wa.me/5511977778331?text=Ol%C3%A1%21%20Entrando%20em%20contato%20por%20seu%20app%20Finmanager" target="_blank" class="social-icon whatsapp" aria-label="WhatsApp">
    <i class="bi bi-whatsapp"></i>
    </a>

</div>


<style>
    .social-media-bar {
        position: fixed;
        top: 75%; /* Posiciona a barra um pouco abaixo */
        transform: translateY(-50%);
        right: 0; /* Alinha a barra à direita */
        z-index: 1000;
        display: flex;
        flex-direction: column;
        gap: 8px;
        padding: 8px;
        background-color: rgba(0, 0, 0, 0.7);
        border-radius: 10px 0 0 10px;
        transition: transform 0.3s ease;
    }

    .social-media-bar:hover {
        transform: translateY(-50%) translateX(-5px); /* Ajusta o efeito hover para a nova posição */
    }

    .social-icon {
        color: white;
        font-size: 15px; /* Diminui o tamanho dos ícones */
        padding: 6px;
        transition: color 0.3s ease, transform 0.3s ease;
    }

    .social-icon:hover {
        color: #ffcc00; /* Escolha uma cor de destaque */
        transform: scale(1.15);
    }

    .facebook { background-color: #3b5998; }
    .instagram { background-color: #e4405f; }
    .whatsapp { background-color: #25D366; }

    .social-icon:hover.facebook { background-color: #2d4373; }
    .social-icon:hover.instagram { background-color: #c13584; }
    .social-icon:hover.whatsapp { background-color: #128C7E; }

</style>
